.contact-page {
    padding: 0;
    margin: 4.7rem 0;
    width: 100%;
}

.heading,
.contact-content {
    margin: auto;
    padding: 1.5rem;
    max-width: 1300px;
}
.contact-content {
    position: relative;
    display: grid;
    gap: 1.5rem;
}
.heading-container {
    background-image: url("../../assets/images/logo.png");
    height: 18rem;
    color: var(--color-text-inverse);
    place-content: center;
    width: 100%;

    .heading {
        display: grid;
        gap: 1rem;

        h2,
        p {
            max-width: 40%;
        }
    }
}

.form-container {
    position: absolute;
    top: -12rem;
    right: 2rem;
    width: 30rem;
    padding: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-surface);
    box-shadow: var(--shadow-md);
    form {
        display: grid;
        gap: 1.5rem;
        width: 100%;
    }
    label {
        display: grid;
        gap: 1rem;
        width: 100%;
        input {
            width: 100%;
        }
    }
}

.social-media-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    gap: 1.5rem;
    .icon {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: var(--color-secondary);
        cursor: pointer;
    }
}

.f-a-q {
    width: 40%;

    .questions {
        display: grid;
        gap: 1rem;
        h3 {
            font-size: 1.5rem;
        }
        details {
            summary {
                font-weight: 600;
            }
            p {
                margin-top: -0.5rem;
                padding: 1rem;
            }
        }
    }
}
@media screen and (width < 1000px) {
    .form-container {
        width: 50%;
    }
}
@media screen and (width < 750px) {
    .form-container {
        top: -3rem;
        right: 50%;
        translate: 50%;
        min-width: 20rem;
        place-self: center;
    }
    .heading-container {
        .heading {
            place-items: center;
            width: 100%;
            h2,
            p {
                margin-top: -1rem;
                max-width: 100%;
                text-align: center;
            }
        }
    }
    .contact-content {
        padding-top: 28rem;
        place-content: center;
    }
    .f-a-q {
        width: 100%;
    }
    .social-media-icons {
        width: 100%;
    }
}
