.product-section {
    margin: auto;
    margin-top: 7rem;
    max-width: var(--container-width);
    padding: 1.5rem;
}
.move-back-btn {
    border: none;
    background-color: var(--color-background);
    margin-bottom: 2rem;
    color: var(--color-info);
    border-bottom: 1px solid var(--color-info);
    cursor: pointer;
}
.product-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.product-info {
    background-color: var(--color-surface);
    padding: 1rem;
    border-radius: var(--radius-md);
}
.top {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    .image-container {
        max-width: 20rem;
        cursor: pointer;
        img {
            width: 100%;
            aspect-ratio: 3/4;
        }
    }
    .small-description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .product-quantity {
            span {
                cursor: pointer;
                &:nth-child(1) {
                    color: var(--color-error);
                }
                &:nth-child(3) {
                    color: var(--color-success);
                }
            }
        }
        div {
            display: grid;
            gap: 1rem;
        }
        .product-quantity {
            display: flex;
            gap: 2rem;
            align-items: center;
            font-size: 1.5rem;
        }
        button:hover {
            background-color: var(--color-secondary--hover) !important;
        }
    }
}
.bottom {
    max-width: 30rem;
}

.delivery-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 17rem;
    border-radius: var(--radius-md);
    padding: 1rem;
    background-color: var(--color-surface);
    justify-self: end;
    p {
        font-size: 0.95rem;
        border-bottom: 1px solid var(--color-border);
    }
    .delivery-location-selection {
        display: grid;
        gap: 0.5rem;
        select {
            max-width: 5rem;
            height: 1.5rem;
            option {
                width: 100%;
            }
        }
    }
    .delivery-option {
        display: grid;
        gap: 1.5rem;
        h5 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
        p {
            padding-left: 1.35rem;
            span {
                font-weight: 600;
            }
        }
    }
}

.similar-products-container {
    margin-top: 2rem;
    background-color: var(--color-surface);
    border-radius: var(--radius-md);
    padding: 1rem;
    h5 {
        font-size: 1.125rem;
    }
    .similar-products {
        margin-top: 1rem;
        display: flex;
        gap: 1.5rem;
        .product {
            place-items: center;
            background-color: #fff;
            padding: 0.5rem 1rem;
            border-radius: var(--radius-sm);
            transition: var(--transition-medium);
            .product-image-container {
                max-width: 6rem;
                cursor: pointer;
                img {
                    width: 100%;
                    aspect-ratio: 3/4;
                }
            }
            .description {
                width: 100%;
                max-width: 8rem;
                margin: 0 auto;
                p {
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            &:hover {
                transform: scale(1.05);
                box-shadow: var(--shadow-md);
            }
        }
    }
}

@media screen and (width < 864px) {
    .product-summary {
        gap: 2rem;
    }
    .delivery-details {
        max-width: 100%;
        justify-self: center;
    }
}
