.account-page {
    margin-top: 7rem;
    min-height: 85vh;
    place-items: center;
    place-content: center;

    .account {
        margin-top: -2rem;
        display: grid;
        gap: 3rem;
        place-items: center;
        place-content: center;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 100%;
        height: 100%;

        .description {
            width: 100%;
            height: 100%;
            background-color: var(--color-accent);
            clip-path: polygon(
                75% 0%,
                100% 50%,
                75% 100%,
                0% 100%,
                25% 50%,
                0% 0%
            );
            place-items: center;
            place-content: center;
            display: grid;
            gap: 1.5rem;
            h2,
            p {
                margin-left: 4rem;
            }
            button {
                background-color: var(--color-accent);
                border: none;
                text-decoration: underline;
                color: var(--color-primary-dark);
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (width < 900px) {
    .account-page {
        margin-top: 9rem !important;
    }
    .description {
        clip-path: polygon(
            0% 0%,
            75% 0%,
            100% 50%,
            75% 100%,
            0% 100%
        ) !important;
    }

    h2,
    p {
        margin-left: 0 !important;
    }
}
.sign-out {
    background-color: var(--color-surface);
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: var(--radius-md);
    margin-top: -2rem;
    box-shadow: var(--shadow-md);
    place-self: center;
}
@media screen and (width < 710px) {
    .sign-up-margin {
        padding-bottom: 1rem;
    }
    .account-page {
        place-items: start !important;
        place-content: start !important;
    }
    .description {
        clip-path: polygon(
            100% 0,
            100% 64%,
            59% 100%,
            0 66%,
            0 0,
            41% 0
        ) !important;

        height: 10rem !important;
    }
}
