* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: --color-text-primary;
}

body {
    background-color: var(--color-background);
}
header,
.page {
    max-width: 1300px;
    margin: auto;
    padding: 1rem 1.5rem;
}
.page {
    margin-top: 6rem;

    /* height: 100vh; */
}
h2 {
    font-size: 2.5rem;
}
section {
    overflow: hidden;
}
